:root {
  --primary: #8fc9f9;
  --result1: #e0ffcd;
  --result2: #b39cdb;
  --result3: #7fcac3;
  --result4: #f8a19a;
  --result5: #cc92d7;
  --result6: #9fa8da;
  --result7: #c4e1a4;
  --result8: #ffcb7f;
  --result9: #d4c5d4;
  --result10: #dd8878;
  --color-black: #000000;
  --color-white: #ffffff;
}
